.tabs {
  width: 100%;

  &__links {
    justify-content: center;
  }

  &__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__item {
    min-height: 500px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.game-screenshot {
  width: 90%;
}

.screen-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}