<div class="filters-box">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="filters-box__sort select"
            [(ngModel)]="sort"
            (selectionChange)="onSortingChange(sort)"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="games-box">
    <ng-container *ngFor="let game of games">
        <div class="games-box__item game-card" (click)="openGameDetails(game.id)">
            <div class="game-card__thumb-container">
                <img 
                *ngIf="game.background_image"
                src="{{ game.background_image }}"
                alt="game-card-thumbnail" 
                class="game-card__thumb">
                <p *ngIf="!game.background_image">No image</p>
            </div>
            <div class="game-card__description">
                <p class="game-card__name" title="{{ game.name }}">{{ game.name }}</p>
                <div class="game-card__platforms">
                    <img 
                    *ngFor="let gamePlatform of game.parent_platforms"
                    src="assets/images/platforms/{{ gamePlatform.platform.slug }}.svg" 
                    alt="{{ gamePlatform.platform.slug }}" 
                    class="game-card__platform">
                </div>
            </div>
        </div> 
    </ng-container>
</div>