@import 'src/app/utils/mixins.scss';

.game-card {
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: flex-end;

    @include make-banner('banner', #000, 0.7);

    &__meta-rating {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        font-weight: 700;
    }

    &__platforms {
        display: flex;
    }

    &__platform {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}