<section *ngIf="game" class="details-wrapper details">
    <div class="details__desc description">
        <h1 class="tui-text_h1 description__title">{{ game.name }}</h1>
    
    <h4 class="tui-text_h4 description__released">Release: {{ game.released | date }} <a *ngIf="game.metacritic" href="{{ game.metacritic_url }}" target="_blank" class="description__metacritic" [appMetacriticScore]="game.metacritic" >{{ game.metacritic }}</a> </h4>
    <p class="description__genres">
        <span class="tui-text_body-xl" *ngFor="let genre of game.genres; let last = last">
            {{ genre.name }}<span *ngIf="!last">, </span>
        </span>
    </p>
    </div>
    <app-game-tabs [game]="game"></app-game-tabs>
    <div *ngIf="game.background_image" [appBgImage]="game.background_image" class="details-wrapper__banner"></div>
</section>
