<div class="home-container tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive home-container__filters-row">
        <div class="tui-col_xs-12 tui-col_md-6 tui-col_lg-4">
            <tui-select [(ngModel)]="sort" (ngModelChange)="onSortingChange(sort)">
                Choose sorting type
                <input tuiTextfield placeholder="Choose sort type" />
                <tui-data-list-wrapper *tuiDataList [items]="selectSortItems">
                </tui-data-list-wrapper>
            </tui-select>
        </div>
    </div>
    <div class="tui-row tui-row_adaptive cards-row">
        <ng-container *ngFor="let game of games">
            <div class="tui-col_xs-12 tui-col_md-6 tui-col_lg-4">
                <a (click)="openGameDetails(game.id)" class="cards-row__item game-card" size="l" tuiIsland
                    [hoverable]="true">
                    <div *ngIf="game.metacritic" [appMetacriticScore]="game.metacritic" class="game-card__meta-rating">
                        {{ game.metacritic }}
                    </div>
                    <div class="game-card__desc">
                        <h3 class="tui-text_h4">{{ game.name }}</h3>
                        <div class="game-card__platforms">
                            <img *ngFor="let gamePlatform of game.parent_platforms"
                                src="assets/images/platforms/{{ gamePlatform.platform.slug }}.svg"
                                alt="{{ gamePlatform.platform.slug }}" class="game-card__platform">
                        </div>
                    </div>
                    <div *ngIf="game.background_image" [appBgImage]="game.background_image" class="game-card__banner">
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>
