@mixin make-banner($banner-class, $bg-color, $bg-opacity) {
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($bg-color, $bg-opacity);
    }

    &__#{$banner-class} {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@mixin make-full-height-container ($header-height) {
    margin-top: $header-height;
    height: calc(100vh - $header-height);
}